
body {
    background-color: black;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a  {
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.base-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

/* NAV */

#navbar {
    background: linear-gradient(to right, black, #212121, #212121, black);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.nav-container {
margin: 0 auto;
max-width: 1280px;
width: 70%;
}

#nav-button {
    padding-left: 24px;
}

.nav-menu>li {
    display: inline-block;
    height: 64px;
    padding: 0px 0px 0px 24px;
}

nav ul a {
    padding: 0;
    width: 100%;
}

nav ul li ul li a {
    padding: 0 5px;
}

.nav-link {
    padding: 5px;

}
#sidenav-close {
    background-color: #303030 !important;
    min-height: 64px;
    padding: 0px;
    margin: 0px;
    pointer-events: none;
}

a.sidenav-trigger {
    padding: 0;
    margin: 0;
    line-height: 64px;
}

.sidenav li>a {
    color: rgb(241, 241, 241);
    font-size: 16px;
    padding: 0 32px;
}

.sidenav li>a>i {
    color: white;
    margin: 0;
}

#sidenav-x {
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
    line-height: 64px;
    padding-right: 24px;
}

.fa-times:hover {
    color:#000000;
    background-color:#2c2c2c;
}

.fa-times:before {
    float: right;
    pointer-events: auto;
}

#director-dad {
    top: -3px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    padding: 0;
    width: 100px;
    height: auto;
    line-height: 20px;
}

#autocomplete-input {
    color: white;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    height: 40px;
    font-size: 1rem;
    padding: 0 0 0 12px;
    margin: 0
}

#autocomplete-input>label {
    color: white;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav .input-field label {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    left: 5px;
    text-shadow: none;
}

.input-field label:not(label-icon).active {
    transform: translateY(0px) !important;
    display: none;   
}

.auto-complete-content {
    display: block;
    width: 166px;
    left: 0px;
    top: 47.5px;
    height: 100px;
    transform-origin: 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}



/* FLASHES */

.flashes h4 {
    line-height: 2;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}

h4 {
    text-transform: uppercase;
}


/* SIGN-UP */

#sign-up {
    margin-top: 0px;
    padding-top: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#username, #password {
    border-bottom: 1px solid white;
}

#submit-button {
    font-size: 22px;
    font-weight: 500;
    border-radius: 4px;
}

.sign-up-end {
    height: 100px;
}

.input-field label:not(label-icon).active {
    transform: translateY(0px) !important;
    display: none;   
}


/* FILMS */

.manage-films {
    font-weight: 600;
}

.film-title {
    font-size: 40px;
    margin: 0;
}


.btn-small {
    margin: 10px 5px 0 5px;
    text-shadow: none;
}

.btn-small p {
    margin: 0;
    font-weight: 600;
}

.btn-large {
    margin: 2px;
}

.collapsible-header, .collapsible-header .col strong, .collapsible-header i {
    margin: 5px;
    line-height: 42px;
}

.collapsible-body {
    margin: 5px;
}

.collapsible, .collapsible-header, .collapsible-body {
    border: none;
    box-shadow: none;
}

select {
    border: none;
}

.select-dropdown {
    color: white;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #fff;
}

.select-wrapper .caret {

    fill: white;
}

.dropdown-content li>span {
    color: black;
    font-weight: 500;
}
.input-field input[type=text]:not(browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }

.input-field .prefix.active {
    color: #fff;
  }

#genre_name label {
    transform: translateY(14px) !important;
    visibility: visible;
}

.angle-right {
    transform: translateY(2.9px);
}

#genre-button {
    color: black;
    font-weight: 700;
}


/* VIEW FILMS */

.view-films {
    background: #212121;
    margin: 0 20px !important;
}

.top-space {
    background-color: black;
    width: 100%;
    height: 90px;
}

#film-title {
    padding: 12px 0;
}

#film-title strong a {
    color: black !important;
}

.film-content {
    padding: 0 !important;
}

#film-info {
    margin: 0 0 12px;
    padding: 0;
}

ul:not(.browser-default)>li {
    display: inline;
    list-style-type: none;
}

#breakpoint {
    padding: 24px 0;
    margin: 0;
    border-radius: 4px;
}

#film-image {
    height: 375px;
    width: 250px;
    margin: 0 6% 6% 0;
    float: left;
}

.film-info {
    margin-top: 24px;
}

#film-genre {
    font-size: 14px;
    margin-top: 24px;
    padding: 2px 14px 4px;
    border: 1px solid white;
    border-radius: 20px;
}

#film-description {
    font-size: 16px;
    font-weight: 100px;
}

/* REVIEWS */

.datepicker {
    color: white;
}

.datepicker-container {
    background-color: #212121;
}

.datepicker-date-display {
    background-color: black;
}

.datepicker-table td.is-today, .datepicker-done, .datepicker-cancel {
    color: #fbc02d;
}

.datepicker-table td.is-selected, .datepicker-table td.is-selected:focus {
    pointer-events: none;
    background-color: #fbc02d;
}

.datepicker .input-field label:not(label-icon).active {
    display: none;   
}

.film-reviews {
    width: 100%;
    background-color: white;
    padding-bottom: 50px;
}

.reviews-header{
    font-weight: 500;
    margin: 0;
    padding: 30px 5px 15px;
}

.review-rating {
    font-size: 18px;
}
.reviews-top {
    border-bottom: none !important;
    border: 1px solid grey;
    background-color: rgb(255, 254, 246);
}

.reviews-bottom {
    border-top: none !important;
    border: 1px solid grey;
}

.reviews-top-break {
    margin: 25px 0;
    background-color: white;
}

.reviews-bottom-break {
    margin: 50px 0;
}



/* GENRES */

.card .card-content {
    padding: 24px 12px 12px 12px;
}


/* MODALS */

.confirm-modal {
    z-index: 9999 !important;
    top: 0;
    bottom: 0;
    width: fit-content;
    block-size: fit-content;
    padding: 15px;
    overflow: hidden;
}

.modal .modal-content {
    padding: 12px;
}

.confirm-title {
    margin-top: 12px;
    margin-bottom: 12px;
}

.confirm-btn {
    margin-bottom: 12px;
    text-shadow: none;
}

/* FOOTER */

.page-footer {
    background-color: black;
    margin-top: 0;
    padding-top: 80px;
}

.footer-break {
    background-color: #212121;
    height: 70px;
    width: 100%;
    padding-top: 19px;
}

.footer-header h5 {
    margin-top: 30px;
}

.footer-header {
    margin-bottom: 0;
    text-transform: uppercase;
}

.footer-copyright {
    text-transform: uppercase;
    background: linear-gradient(to right, black, #070707, #070707, black);
}


.grey-text.text-lighten-3 {
    padding: 10px;
    color: #eee !important;
    font-size: 18px;
}


/* MEDIA */

@media only screen and (max-width: 960px) {
    .container {
        margin: 0 auto !important;
        width: 90%;
    }
}


@media only screen and (max-width: 993px) {
    .nav-container {
        width: 90%;
    }
}

@media only screen and (max-width: 601px) {
    .nav-container {
        width: 100%;
    }
}


@media only screen and (max-width: 750px) {
    .row .col.s1, .row .col.s2, .row .col.s3, .row .col.s6 {
        width: auto;
    }
    h3 {
        font-size: 2rem;
    }
    #film-image {
        height: 300px;
        width: 200px;
        margin: 0 6% 6% 0;
        float: left;
    }
}

@media only screen and (max-width: 539px) {
    #search-bar {    
        display: none !important;
    }
}

@media only screen and (max-width: 575px) {
    .row .col.s6 {
        width: 175px;
    }
    .film-info {
        width: 100% !important;
    }
}

@media only screen and (max-width: 450px) {
    #film-image {
        height: 220px;
        width: 170px;
        margin: 0 4% 4% 0;
        float: left;
    }

    #film-genre {
        font-size: 12px;
        margin-top: 24px;
        padding: 2px 14px 4px;
        border: 1px solid white;
        border-radius: 20px;
    }
    
    #film-description {
        font-size: 14px;
        font-weight: 100px;
    }

}

@media only screen and (max-width: 395px) {
    #film-image {
        height: 200px;
        width: 133px;
        margin: 0 4% 4% 0;
        float: left;
    }

    #film-genre {
        font-size: 12px;
        margin-top: 24px;
        padding: 2px 14px 4px;
        border: 1px solid white;
        border-radius: 20px;
    }
    
    #film-description {
        font-size: 12px;
        font-weight: 100px;
    }

}

@media only screen and (max-width: 340px) {
    #nav-button {
        padding-left: 0;
    }

    #film-image {
        height: 300px;
        width: 200px;
        margin: 0 6% 6% 0;
        float: left;
    }

    #film-genre {
        font-size: 14px;
        margin-top: 24px;
        padding: 2px 14px 4px;
        border: 1px solid white;
        border-radius: 20px;
    }
    
    #film-description {
        font-size: 16px;
        font-weight: 100px;
    }
}


@media only screen and (max-width: 360px) {
    .container {
    margin: 0 !important;
    width: 100%;
    }

    .select-wrapper input.select-dropdown { 
        font-size: 12px;
    }
}

@media only screen and (max-width: 279px) {
    #login-out {
        display: none !important;
    }
}