<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Director Dad</title>
</head>
{% block styles %}
{% endblock %}

<body>
    <header>
        <!-- top navbar -->
        <nav id="navbar" class="grey darken-4">
            <div class="nav-container">
                <ul class="nav-menu row">
                    <li class="col s1 center" id="nav-button">
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i id="fas-bars"
                                class="fas fa-bars"></i>
                        </a>
                    </li>
                    <li class="col s2 center">
                        <form method="get" action="{{ url_for('get_films') }}">
                            <button
                                class="director-dad btn yellow darken-2 black-text waves-effect waves-light">Director<br>Dad</button>
                        </form>
                    </li>
                    <li id="search-bar" class="col s6 center">
                        <div class="input-field">

                            <input type="text" id="autocomplete-input" class="white black-text autocomplete"
                                data-target="autocomplete-options-4f3e3812-6cd2-eff4-1e9f-4453d1ef5f11">
                            <ul id="autocomplete-options-4f3e3812-6cd2-eff4-1e9f-4453d1ef5f11"
                                class="autocomplete-content dropdown-content" tabindex="0">
                                <li>
                                    <span>
                                        <span>

                                        </span>
                                    </span>
                                </li>
                            </ul>

                            <label class="black-text" for="autocomplete-input">Search Films</label>
                        </div>
                    </li>
                    <li id="login-out" class="col s3 center">
                        <ul>
                            {% if session.user %}
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                            {% else %}
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- mobile navbar -->
        <ul class="sidenav grey darken-4" id="mobile-demo">
            <li>
                <a id="sidenav-close" href="#!">
                    <i id="sidenav-x" class="sidenav-close waves-effect waves-light fas fa-times right white-text"></i>
                </a>
            </li>
            <li>
                <a href="{{ url_for('get_films') }}"><i class="fas fa-film"></i>Films</a>
            </li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="{{ url_for('new_review') }}"><i class="fas fa-pen"></i>New Review</a></li>
            <li><a href="{{ url_for('manage_films') }}"><i class="fas fa-cogs"></i>New Film</a></li>
            {% if session.user|lower == "director_dad"|lower %}
            <li><a href="{{ url_for('manage_genres') }}"><i class="fas fa-book-open"></i>Manage Genres</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}"><i class="fas fa-door-closed"></i>Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}"><i class="fas fa-door-open"></i>Log In</a></li>
            <li><a href="{{ url_for('register') }}"><i class="fas fa-hand-paper"></i>Sign Up</a></li>
            {% endif %}
        </ul>
    </header>
    <section class="container">
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h4 class="grey flashes darken-4 center-align">{{ message }}</h4>
        {% endfor %}
        {% endif%}
        {% endwith %}
    </section>

    <main class="films">
        {% block content%}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="footer-break">
            <div class="center">
                <form method="get" action="{{ url_for('get_films') }}">
                    <button
                        class="director-dad btn yellow darken-2 black-text waves-effect waves-light">Director<br>Dad</button>
                </form>
            </div>
        </div>
        <div class="container center-align">
            <div class="footer-header row">
                <div class="col s12">
                    <h5 class="white-text">Director Dad</h5>
                </div>
                <div class="col s12">
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.facebook.com/"><i
                                    class="fab fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.instagram.com/"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://twitter.com/home"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.youtube.com/"><i
                                    class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
                © 2021 Director Dad
                <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>