{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="white-text center-align">Edit Films</h3>

    <div class="manage-films row card-panel grey darken-4 ">
        <form class="col s12" method="POST" action="{{ url_for('edit_film', film_id=film._id) }}">
            <!-- FILM NAME -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-film prefix"></i>
                    <input id="film_name" name="film_name" maxlength="50" value="{{ film.film_name }}" type="text"
                        class="validate white-text" required>
                    <label for="film_name">Title</label>
                </div>
            </div>
            <!-- FILM GENRE -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book-open prefix"></i>
                    <select id="genre_name" name="genre_name" class="validate" required>
                        <option value="" disabled>Choose Genre</option>
                        {% for genre in genres %}
                        {% if genre.genre_name == film.genre_name %}
                        <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                        {% else %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="genre_name"></label>
                </div>
            </div>
            <!-- FILM RELEASE DATE -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar prefix white-text"></i>
                    <select id="release_date" name="release_date" class="validate" required>
                        <option value="" disabled>Choose Year</option>
                        {% for release_date in release_dates %}
                        {% if release_date.release_date == film.release_date %}
                        <option value="{{ release_date.release_date }}" selected>{{ release_date.release_date }}
                        </option>
                        {% else %}
                        <option value="{{ release_date.release_date }}">{{ release_date.release_date }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="release_date"></label>
                </div>
            </div>
            <!-- FILM DESCRIPTION -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix white-text"></i>
                    <textarea id="film_description" name="film_description" minlength="5" maxlength="300"
                        class="materialize-textarea validate white-text" required>
                    {{- film.film_description -}}
                </textarea>
                    <label for="film_description">Description</label>
                </div>
            </div>
            <!-- FILM AGE RATING -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix white-text"></i>
                    <select id="age_rating" name="age_rating" class="validate" required>
                        <option value="" disabled>Choose Rating</option>
                        {% for age_rating in age_ratings %}
                        {% if age_rating.age_rating == film.age_rating %}
                        <option value="{{ age_rating.age_rating }}" selected>{{ age_rating.age_rating }}</option>
                        {% else %}
                        <option value="{{ age_rating.age_rating }}">{{ age_rating.age_rating }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="age_rating"></label>
                </div>
            </div>
            <!-- FILM IMAGE -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-images prefix white-text"></i>
                    <input id="film_image" name="film_image" maxlength="200" value="{{ film.film_image }}" type="url" class="validate white-text" required>
                    <label for="film_image">Image URL:</label>
                </div>
            </div>
            <!-- FILM DURATION -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix white-text"></i>
                    <input id="duration" name="duration" maxlength="8" value="{{ film.duration }}" type="text"
                        class="validate white-text" required>
                    <label for="duration">Duration</label>
                </div>
            </div>
            <!-- EDIT BUTTON -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- CANCEL BUTTON -->
                    <a href="{{ url_for('get_films') }}" class="btn-large red">
                        Cancel <i class="fas fa times right"></i>
                    </a>
                    <button type="submit" id="genre-button" class="btn-large yellow darken-2 waves-effect waves-light">
                        Edit Film <i class="fas fa-check angle-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}