{% extends "base.html" %}
{%  block content %}

    <ul class="collapsible">
        {% for film in films %}
        <li>
            <div class="row collapsible-header white-text grey darken-4 text-shadow">
                <div class="col s7">
                    <i class="fas fa-angle-down"></i>
                    <strong>{{ film.film_name }}</strong>: {{ film.release_date }}
                </div>
                <div class="col s5">
                    {% if session.user|lower == "director_dad"|lower %}
                    <a href="" class="btn-small yellow black-text darken-2 right"><p>Done</p></a>
                    <a href="{{ url_for('edit_film', film_id=film._id) }}" class="btn-small yellow black-text darken-2 right"><p>Edit</p></a>
                    {% endif %}                   
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ film.genre_name }} - {{ film.age_rating }} - {{ film.duration }}</strong>
                <p>{{ film.film_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>   

{% endblock %}
