{% extends "base.html" %}
{%  block content %}

    <ul class="collapsible">
        {% for film in films %}
        <li>
            <div class="row collapsible-header white-text grey darken-4 text-shadow">
                <div class="col s7">
                    <i class="fas fa-angle-down"></i>
                    <strong>{{ film.film_name }}</strong>: {{ film.release_date }}
                </div>
                <div class="col s5">
                    {% if session.user|lower == "director_dad"|lower %}
                    <a href="#confirm{{ film._id }}" class="btn-small red black-text darken-2 right modal-trigger"><p>Delete</p></a>

                        <div id="confirm{{ film._id }}" class="confirm-modal modal card grey darken-4 center-align">
                            <p class=" confirm-title card-title  white-text center-align ">
                                        ARE YOU SURE YOU WANT TO DELETE THIS FILM!?</p>
                            <a class="confirm-btn black-text btn yellow darken-2" href="{{ url_for('get_films') }}">
                                Cancel
                            </a>
                            <a class="confirm-btn black-text btn red" href="{{ url_for('delete_film', film_id=film._id) }}">
                                Delete
                            </a>
                        </div>

                    <a href="{{ url_for('edit_film', film_id=film._id) }}" class="btn-small yellow black-text darken-2 right"><p>Edit</p></a>
                    {% endif %}                   
                </div>
            </div>
            <div class="collapsible-body">
                <p class="film-title"><strong>
                    <a href="{{ url_for('view_films', film_id=film._id) }}">{{ film.film_name }}</a>
                </strong></p>
                <strong> {{ film.release_date }} - {{ film.age_rating }} - {{ film.duration }}</strong>
                <br>
                <p>{{ film.genre_name }}</p>
                <p>{{ film.film_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>   

{% endblock %}
