{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align">Manage Films</h3>

<div class="manage-films row card-panel grey darken-4 ">
    <form class="col s12" method="POST" action="{{ url_for('manage_films') }}">
        <!-- FILM NAME -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-film prefix"></i>
                <input id="film_name" name="film_name" maxlength="50" type="text" class="validate white-text" required>
                <label for="film_name">Title</label>
            </div>
        </div>
        <!-- FILM GENRE -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-book-open prefix"></i>
                <select id="genre_name" name="genre_name" class="validate" required>
                    <option value="" disabled selected>Choose Genre</option>
                    {% for genre in genres %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endfor%}
                </select>
                <label for="genre_name"></label>
            </div>
        </div>
        <!-- FILM RELEASE DATE -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar prefix white-text"></i>
                <input id="release_date" name="release_date" pattern="^[0-9]{4}$" minlength="4" maxlength="4" type="text"
                    class="validate white-text" required>
                <label for="film_name">Release Date (Year)</label>
            </div>
        </div>
        <!-- FILM DESCRIPTION -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix white-text"></i>
                <textarea id="film_description" name="film_description" minlength="5" maxlength="100"
                    class="materialize-textarea validate white-text" required></textarea>
                <label for="film_description">Description</label>
            </div>
        </div>
        <!-- FILM AGE RATING -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list-ol prefix white-text"></i>
                <input id="age_rating" name="age_rating" maxlength="5" type="text" class="validate white-text" required>
                <label for="age_rating">Age Rating</label>
            </div>
        </div>
        <!-- FILM DURATION -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix white-text"></i>
                <input id="duration" name="duration" maxlength="8" type="text" class="validate white-text" required>
                <label for="duration">Duration</label>
            </div>
        </div>
        <!-- BUTTON -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" id="genre-button" class="btn-large yellow darken-2 waves-effect waves-light">
                    Add Film <i class="fas fa-angle-right angle-right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}