{% extends "base.html" %}
{% block content %}

<body>
    <div class="top-space"></div>
    <div class="grey darken-4">
        <div class="container">
            <div class="view-films row grey darken-4 ">
                <!-- FILM NAME -->
                <div id="film-title" class="col s12">
                    <p class="film-title">
                        <strong>{{ film.film_name }}</a></strong>
                    </p>
                    <ul id="film-info">
                        <li>{{ film.release_date }}</li>
                        -
                        <li>{{ film.age_rating }}</li>
                        -
                        <li>{{ film.duration }}</li>
                    </ul>
                </div>
                <div id="breakpoint" class="col s12 grey darken-3">
                </div>
                <div class="film-content col s12">
                    <div>
                        <img id="film-image" src="{{ film.film_image }}">
                        <div>
                            <p class="film-info"><strong id="film-genre">{{ film.genre_name }}</p></strong>
                            <p id="film-description">{{ film.film_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="film-reviews">
    </div>
    <div class="reviews-bottom-break"></div>
</body>

{% endblock %}